* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

div {
  text-align: left;
}

.gameContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

button {
  font-size: 16px;
  display: block;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.button {
  border: 1px solid black;
  padding: 9px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.underline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  color: lightgrey;
}

.hidden {
  visibility: hidden;
}

.fadeOut {
  animation: fadeout 3s forwards;
  -moz-animation: fadeout 3s forwards; /* Firefox */
  -webkit-animation: fadeout 3s forwards; /* Safari and Chrome */
  -o-animation: fadeout 3s forwards; /* Opera */
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/**
 * Profile
 */
.profile.button {
  width: 100%;
}

.profileName {
  font-weight: bold;
  font-size: 22px;
}

.profile.underline {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.profileBottomLarge {
  padding-bottom: 40px;
}

.profileBottomSmall {
  padding-bottom: 5px;
}

.profile.match.button {
  margin-bottom: 10px;
}

/**
 * Conversation
 */

.conversationContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 350px;
  grid-column-gap: 200px;
}

.conversation {
  max-height: inherit;
  overflow-y: scroll;
  padding-right: 20px;
}

.message {
  padding-bottom: 10px;
}

.option {
  border: none;
}

.optionText {
  text-decoration: underline;
}

.theirs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-right: 60px;
}

.mine {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-left: 60px;
}

/**
 * Match Screen
 */

.match.button {
  width: 240px;
}

.match.underline {
  width: 400px;
  margin-block-start: 80px;
  margin-block-end: 80px;
}

.chatHistory {
  width: 240px;
  text-align: left;
}

.chatHistory .option {
  padding-top: 10px;
  padding-bottom: 10px;
}

.chatHistory .option:first-of-type {
  margin-top: 10px;
}

/**
 * Ending screen
 */
.endingScreen {
  width: 500px;
}

.endingScreen .paragraph {
  padding-bottom: 10px;
}

.endingScreen .button {
  margin-top: 20px;
  margin-bottom: 50px;
}
